*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: #f4e4ba;
}

.container {
    height: 48vh;
    width: 50vh;
    background: white;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
}

#heading{
    display: flex;
    justify-content: center;
    align-items:center ;
    margin-top: 2rem;
    font-size: 2rem;
    /* border: 2px solid #ccc; */
}

.deg-typ{
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 2rem;
    /* align-items: center; */
}

.deg-typ .degree{
    display: grid;
    /* align-items: center; */
    /* justify-content: end; */
    /* border: 2px solid black; */
}
.deg-typ .degree label{
    font-size: 20px;
}

.deg-typ .degree input{
    width: 9rem;
    align-items: center;
    height: 2.5rem;
    font-size: 1rem;
    border-radius: 8px;
    border: none;
    outline: none;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    /* border-bottom-left-radius: 2px solid lightgrey; */
}

.deg-typ .types{
    display: grid;
    /* justify-content: end; */
    /* border: 2px solid black; */
}
.deg-typ .types label{
    font-size: 20px;
}

.deg-typ .types select{
    width:9rem;
    font-size: 1rem;
    height: 2.5rem;
    border-radius: 8px;

}

.result{
    display: grid;
    margin: 2rem;
    /* justify-content: center; */
    align-items: center;

    /* justify-content: end; */
}

.result label{
    font-size: 20px;
    justify-content: center;
    align-items: center;
}

.result input{
    width:100%;
    font-size: 1rem;
    height: 2.5rem;
    border-radius: 8px;
    border: none;
    outline: none;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
}

.submit{
    margin: 2rem;
}
.submit input{
    padding: 0.5rem;
    width: 100%;
    border-radius: 15px;
    font-size: 20px;
    background-color: rgb(248, 248, 199);
    color: black;
}
